<h1><span class="mainTitle on">내 웹사이트 업데이트</span></h1>

<%= render 'form', project: @project %>

  <div>
    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', "/projects/index/#{@project.user.team.id}" %>
  </div>
