<% cache message do %>
    <div class="chat_msg left_msg message">
      <div class="chat_profile">
        <%= image_tag 'lion.png', class: "chatimg"  %>
      </div>
      <div class="chat_content">
        <div class="chat_id">
          <span><%= message.user %></span>
        </div>
        <div class="chat_ballon">
          <span><%= message.content %></span>
        </div>
      </div>
      <div class="chat_time">
        <span><%= message.created_at.strftime("%H:%M") %></span>
      </div>
    </div>
<% end %>
