/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  min-height:100vh;
  background-position: center center;
  background-size: cover;
}

*{
  box-sizing: border-box;
  font-family: 'Nanum Square';
}

h1, h2, h3, h4, h5, h6, p, span {
  word-break: break-all
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #54ffdb;
  box-shadow: 0 1px 0 0 #54ffdb;
}

.unLogin {
  background-image: image-url('bg-image.jpg');
}




.bg1{
  background-color: #4a48fb !important;
}

.bg2{
  background-color: #54ffdb !important;
}

.tc1{
  color: #4a48fb;
}

.determinate{
  background-color: #4a48fb !important;
  color: #54ffdb;
  text-align: center;
  font-weight: bold;
}

.progress{
  background-color: #e3f2fd  !important;
}

.back{
  margin-top:30px;
}

.mainTitle{
  color: #4a48fb;
  position: relative;
}

.container{
  padding-top:30px;
  padding-bottom: 30px;
}

// 채팅부분
.chat-bar{
  z-index: 999;
}

// 로그인 부분
.header .logo {
  font-size: 1.6rem;
  line-height: 1.6;
}

.header .logo {
  display: inline-block;
  width: 63px;
  height:1.6rem;
  margin: 0;
  background-image: url(/assets/logo.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.unLogin > .index{
  display: flex;
  align-items: center;
  height: 90vh;
}

.unLogin > .index > .row {
  width:100%;
}



.landing {
  color:#4a48fb;
}

.landing-title {
  line-height: 4.8rem;
  margin-bottom: 1.6rem;
}

.landing-title .landing-tag{
  display: block;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}


.logo {
  display: flex;
  justify-content: center;
}

.imageLogo{
  width:150px;
  cursor: pointer;
}

.header-button{
  float:right;
  height:100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}



.card {
  width:100%;
}

.card-image {
  width:100%;
}


.collapsible-body > ul > li > a {
  display: flex;
  align-items: center;
}

.collapsible-body > ul > li > a > img {
  margin-right:10px;
}

.listImg{
  height:50%;
}




// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    display: inline-block;
    overflow: visible;
  }
}

@media #{$small-and-down} {

  .chat-bar {
    width: 100%;
  }

  .cards-container {
    @include column-count(1);
  }

  .card-image {
    height:150px;
  }

  .header-button {
    width:165px;
  }

  .collapsible-header{
    padding:0 16px !important;
  }

  .landing-title {
    font-size: 46px;
  }
}
@media #{$medium-and-up} {

  .chat-bar {
    width: 400px;
  }

  .cards-container {
    @include column-count(2);
  }

  .card-image {
    height:200px;
  }

  .container{
    width: 80% !important;
  }

  .header-button {
    width:165px;
  }

  nav{
    padding-right:18px;
  }

  .collapsible-header{
    padding:0 16px !important;
  }

  .landing-title {
    font-size: 50px;
  }

}
@media #{$large-and-up} {
  .cards-container {
    @include column-count(3);
  }

  .card-image {
    height:200px;
  }

  .wrapper{
    padding-left:300px;
  }

  .header-button {
    width:165px;
  }

  nav{
    padding-right:50px;
  }

  .collapsible-header{
    padding:0 32px !important;
  }

  .index > .row {
    display: flex;
    align-items: center;
  }


  .landing-title {
    font-size: 58px;
  }
}

.card-image{
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}
