// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gryCard{
  background-image: image-url('gryffindor.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height:200px;
}
.slyCard{
  background-image: image-url('slytherin.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height:200px;
}
.noCard{
  background-image: image-url('slogan.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

.scoreWrap{
  display: flex;
  justify-content: space-around;
}

.gryScore{
  font-size: 3em;
  font-weight: bold;
  color:red;
}

.slyScore{
  font-size: 3em;
  font-weight: bold;
  color:green;
}

// sweet alert 가지고놀기

.swal2-modal {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80% !important;
  height: 80%;
  min-height: 1000px !important;
}

.swal2-confirm{
  width: 50px !important;
  display: flex !important;
  justify-content: center;
}
